/* Color Schemes? = #87ACD7 (Primary), #4484CE (Primary - Selected), #D9D9D9 (Light), #323F4F (Dark)  */

:root{
    --primary: #87ACD7;
    --primary-selected: #4484CE;
    --light: #D9D9D9;
    --dark:  #323F4F;
}

*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: var(--primary-selected);
    max-height: 100vh;
    max-width: 100vw; 
    margin: 0px;
    /* min-height: 100vh;
    min-width: 100vw; */
    
}
@keyframes transition-bg-color{
    from {background-color: var(--primary-selected);}
    to {background-color: var(--primary);}
}
@keyframes transition-color{
    from {color: var(--light);}
    to {color: var(--primary); border-bottom: 4px var(--primary) solid;}
}
#transition-bg{
    animation-name: transition-bg-color;
    /* animation-name: transition-color; */
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}


nav{
    /* background-color: #323F4F; */
    width: 30%;
    float: left;
    height: 0px;
    position: fixed;
}

nav a{
    padding-left: 12px;
    text-decoration: none;
    color: var(--light);
    font-size: 1.5rem;
}

#intro-greetings{
    
    font-size: 4rem;
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-greetings h1{
    color: var(--light);
    margin: 0px 0px 12px 0px;
    letter-spacing: 4px;
}

#button-start{
    background-color: var(--dark);
    border-radius: 20px;
    border-bottom: 4px var(--primary) solid;
    color: var(--light);
    width: fit-content;
    margin-top: 0;
    margin-bottom: 22px;
    padding: 6px 24px;
}

#button-start:hover{
    border-bottom: 0px;
    border-bottom: 4px var(--dark) solid;
    background-color: var(--primary);
    cursor:pointer;
    
}

#quiz-content{
    position: absolute;
    width: 90%;
    top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#question-container{
    z-index: 2;
    height: 80vh;
    /* width: 100%; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: var(--light);
    flex-direction: column;
}
#question{
    color: var(--dark);
    font-size: 3rem;
    margin-bottom: 28px;
    display: block;
    margin-bottom: 100px;
    margin-top: 0px;
    text-align: center;
}
.answer{
    font-size: 2rem;
    border-radius: 20px;
    margin: 5px;
    z-index: 3;
    width: 60%;
    color: var(--dark);
    background-color: var(--primary);
    padding: 20px;
    border: 6px var(--light) solid ;
    border-bottom: 2px var(--primary-selected) solid;
    text-align: center;
}
.answer:hover{
  
    cursor: pointer;
    background-color: var(--primary-selected);
    border: 6px var(--primary-selected) solid ;
    border-bottom: 2px var(--primary) solid;
}
.answer:hover #question{
    margin-bottom: 0px;
}
#game-timer{
    font-size: 3rem;
    color: var(--light);
    border-radius: 100%;
    background-color: #4484CE;
    border: 3px var(--dark) solid;
    padding:20px 30px;
    margin-top: 30px;
}